<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>
  <%= turbo_frame_tag :user_name do %>
    Name: <%= link_to @user.name, edit_name_user_path(@user) %>
  <% end %>
</div>
